<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
<div class="container">
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
            <h1>welcome to
	        <span class="glyphicon glyphicon-book" aria-hidden="true">Bookers !!
	        </span>
            </h1>

            <p>In
              <span class="glyphicon glyphicon-book" aria-hidden="true">Bookers,
              </span>
           </p>
            <p>you can share and exchange your opinions ,inpressions ,and emotions</p>
            <p>about various books!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4 ">
            <div class="login-btn">
	            <%= link_to 'Log in', new_user_session_path, class: "btn btn-default btn-sm btn-block btn-info" %>
          </div>
        </div>
        <div class="col-xs-offset-4 col-xs-4 ">
            <div class="signup-btn">
    	        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-default btn-sm btn-block btn-success" %>
    	    </div>
        </div>
    </div>
</div>